<div class = "row">
  <div class = "col-lg-6">
    <h1>My Goals</h1>
  <hr>
  <div>
  <ul>
    
      <li  *ngFor='let goal of goals let i = index' >       
        {{goal.name}}   due on {{goal.completeDate | date}}     
        <app-goal-detail *ngIf='goal.showDescription' [goals] = 'goal' (delete)='deleteGoal($event, i)'></app-goal-detail><br>
        <small> Due on {{goal.completeDate|date|lowercase}}</small><br>
        <button class = " btn btn-large btn-secondary"(click)='toggleDetails(i)'>Toggle Details</button>    
      </li>
    </ul>
    </div>
  </div>
  
    
  <div class="col-lg-6 justify-content-flex-end">
    <app-goal-form (addNewGoal) = "goalAdd($event)"></app-goal-form>
  </div>
</div>



  <!-- {{themeColor}} <hr> -->
  <!-- <span [style.color] = "themeColor">Awadh said</span><br>
  <mat-form-field><br>
    <input matInput [(ngModel)] = "themeColor">
  </mat-form-field> -->
  <!-- <button (click) = "update()">Update</button> -->

  

<!-- </div>

<mat-card>
  <mat-card-header>
    <h3>Debug</h3>
  </mat-card-header>
  <mat-card-content>
  <span *ngIf = "currentGoal ; else elseBlock">{{currentGoal.description |json }}</span>
  <ng-template #elseBlock>Select another goal</ng-template>
  </mat-card-content>
</mat-card> -->
