<!-- <mat-card>
  <mat-card-title>
    Courses
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor='let course of courses' (click)="selectCourse(course);$event.stopImmediatePropagation()">
        <h3 matLine>{{course.course}}</h3>
        <p matLine>{{course.description}}</p>
        <button mat-icon-button color = "warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  Selected Course
  <mat-card-content>
    <pre>{{courseName | json}}</pre>
  </mat-card-content>
</mat-card> -->
